* {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whait: rgb(248, 248, 248);
  --light-purple: rgb(186, 186, 248);
  --purple: rgb(124, 124, 248);
  --light-blue: rgb(62, 62, 248);
  --blue: rgb(0, 0, 248);
}
